@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("/fonts/IBM_Plex_Mono,Merriweather/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
}

body {
    font-family: IBMPlexMono-Regular;
}